.main-body{
    display: flex;
    flex-direction: row;
    height: 660px;
}
.image-first {
    // border: 2px solid red;
    width: 50%;
    background-color: #273239;
}

.form-inner-body2{
    // border: 2px solid green;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .form-box2{
        // border: 2px solid red;
        background-color: white;
        margin-top: 160px;

    }
    .form-header2{
        padding: 10px;
        margin-left: 40px;
        padding-bottom: 30px;

    }

    .group {
        // border: 2px solid black;
        width: 650px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;
    }
    .input-group2{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // border: 2px solid red;
        // .input-name{
        //     border: 2px solid gray;
        //     width: 100px;
        //     display: flex;
        //     align-items: center;
        // }
        .input-ip {
            // border: 2px solid purple;
            width: 70%;
            margin: 0;
        }

     
        input{
            width: 100%;
            padding: 12px;
            border-radius: 4px;
            // border: 2px solid #273239;
            margin-left: 30px;
            border: none;
            border-bottom: 2px solid grey;
            background-color: white;
            
            // &:focus-within ~ label,
            // &:not(:placeholder-shown) ~ label{
            //     top: -10px;
            //     font-size: 14px;
            //     left: 12px;
            //     color: #273239;
            //     // background: #fff;
            //     padding: 0px 5px;
            // }
            // &::placeholder {
            //     color: transparent;
            // }
            // &:focus::placeholder{
            //     color: #777;
            // }
        }

    }

    .input-group3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 10px;

        .btn{
            background-color: #273239;
            color: white;
            padding: 12px 27px;
            border-radius: 5px;
            font-size: 16px;
            border: none;
            outline: none;
            width: 50%;
            transition: all 0.5s linear;
            &:hover{
                background-color: #273239e6;
            }
        }
    }
}


// .form-body2{
//     // height: auto;
//     .form-box2{
//         // min-width: 650px;
//         // background-color: #fff;
//         // box-shadow: 2px 6px 12px #00000025;
//         // padding: 20px;
//         // .form-header2{
//         //     // padding: 10px;
//         //     h3{
//         //         font-size: 20px;
//         //         font-weight: 500;
//         //         &::after{
//         //             content: '';
//         //             width: 60px;
//         //             height: 3px;
//         //             display: block;
//         //             background-color: #273239;
//         //         }
//         //     }
//         // }
//         .form-inner-body2{
//             .input-group2{
//                 width: 50%;
//                 display: flex;
//                 flex-direction: row;
//                 .input-name{
//                     width: 100px;
//                     display: flex;
//                     align-items: center;
//                 }
//                 .input-ip {
//                     width: 70%;
//                     margin: 0;
//                 }
             
//                 input{
//                     width: 100%;
//                     padding: 12px;
//                     border-radius: 4px;
//                     border: 2px solid #273239;
//                     margin-left: 30px;
                    
//                     &:focus-within ~ label,
//                     &:not(:placeholder-shown) ~ label{
//                         top: -10px;
//                         font-size: 14px;
//                         left: 12px;
//                         color: #273239;
//                         background: #fff;
//                         padding: 0px 5px;
//                     }
//                     &::placeholder {
//                         color: transparent;
//                     }
//                     &:focus::placeholder{
//                         color: #777;
//                     }
//                 }
//                 .btn{
//                     background-color: #273239;
//                     color: white;
//                     padding: 12px 27px;
//                     border-radius: 5px;
//                     font-size: 16px;
//                     border: none;
//                     outline: none;
//                     width: 100%;
//                     transition: all 0.5s linear;
//                     &:hover{
//                         background-color: #273239e6;
//                     }
//                 }

//             }
//         }
//     }
// }

.acc {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 30px;
        font-weight: 650;
        padding-bottom: 10px;
    }
}

@media (max-width:525px){
    .form-body{
        padding: 20px;
        .form-box{
            min-width: 100%;
            &::before,&::after{
                display: none;
            }
        }
    }
} 
