.form-body2{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 80vh;

    margin-left: 140px;
    height: auto;
    .form-box2{
        min-width: 650px;
        background-color: #fff;
        box-shadow: 2px 6px 12px #00000025;
        padding: 20px;
        // padding: 5px;
        // &::before{
        //     content: '';
        //     width: 25rem;
        //     height: 25rem;
        //     bottom: 0;
        //     left: 0;
        //     background: url('./../../images/form-left.svg');
        //     position: absolute;
        //     z-index: -1;
        // }
        // &::after{
        //     content: '';
        //     width: 25rem;
        //     height: 25rem;
        //     bottom: 0;
        //     right: 0;            
        //     background: url('./../../images/form-right.svg');
        //     position: absolute;
        //     z-index: -1;
        // }
        .form-header2{
            padding: 10px;
            h3{
                font-size: 20px;
                font-weight: 500;
                &::after{
                    content: '';
                    width: 60px;
                    height: 3px;
                    display: block;
                    background-color: #273239;
                }
            }
        }
        .form-inner-body2{
            .group {
            //  border: 2px solid black;

            }
            .input-group2{
                // border: 2px solid red;
                width: 50%;
                display: flex;
                flex-direction: row;
                .input-name{
                    width: 100px;
                    // margin-left:30px;
                    // border: 2px solid green;
                    display: flex;
                    align-items: center;
                }
                .input-ip {
                    width: 70%;
                    margin: 0;
                }
             
                input{
                    width: 100%;
                    padding: 12px;
                    border-radius: 4px;
                    border: 2px solid #273239;
                    margin-left: 30px;
                    
                    &:focus-within ~ label,
                    &:not(:placeholder-shown) ~ label{
                        top: -10px;
                        font-size: 14px;
                        left: 12px;
                        color: #273239;
                        background: #fff;
                        padding: 0px 5px;
                    }
                    &::placeholder {
                        color: transparent;
                    }
                    &:focus::placeholder{
                        color: #777;
                    }
                }
                .btn{
                    background-color: #273239;
                    color: white;
                    padding: 12px 27px;
                    border-radius: 5px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    width: 100%;
                    transition: all 0.5s linear;
                    &:hover{
                        background-color: #273239e6;
                    }
                }

            }
        }
    }
}

.acc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:525px){
    .form-body{
        padding: 20px;
        .form-box{
            min-width: 100%;
            &::before,&::after{
                display: none;
            }
        }
    }
} 
