.content {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

  .card {
    width: 16rem;
    height: 21rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  

      h1 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 5rem;
        left: 7.5rem;
        opacity: 0.9;
        transition: opacity .2s ease-out;
        font-size: 40px;
      }

      .head {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        text-transform: uppercase;

        display: flex;
        flex-direction: row;
        align-items: center;
      }

      p{
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
      }

      p {
        inset: auto auto 25px 30px;
      }

      &:hover .head {
        inset: auto auto 80px 30px;
        transition: inset .3s ease-out;
      }

      &:hover p {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
      }
    

}   

.material-symbols-outlined {
    vertical-align: middle;
  }